@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

@media screen and (max-width: 625px) {
  .lookbookWrapper {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 625px) {
  .lookbookWrapper {
    position: absolute;
    left: 250px;
    width: 80%;
    min-height: 100vh;
  }
}
