@use '/src/styles/constants/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 625px) {
  .container {
    background-color: colors.$BACKGROUND;
  }
}
