@use '/src/styles/constants/colors';

.menuContainer {
  margin: 60px 0 0 20px;

  .isActive {
    svg {
      color: colors.$WHITE;
      background-color: colors.$ORANGE1;
    }

    span {
      color: colors.$BLACK1;
    }
  }

  li {
    line-height: 2.7;

    a {
      display: flex;
      align-items: center;

      svg {
        width: 32px;
        height: 32px;
        padding: 6px;
        color: colors.$GRAY3;
        background-color: colors.$GRAY2;
        border-radius: 10px;
      }

      span {
        margin-left: 10px;
        font-weight: 500;
        color: colors.$GRAY3;
      }
    }
  }
}
