@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.menuContainer {
  margin-left: 20px;

  .isActive {
    svg {
      color: colors.$WHITE;
      background-color: colors.$ORANGE1;
    }

    span {
      color: colors.$BLACK1;
    }
  }

  li {
    line-height: 2.7;

    a {
      display: flex;
      align-items: center;
    }

    svg {
      width: 32px;
      height: 32px;
      padding: 6px;
      color: colors.$GRAY3;
      background-color: colors.$GRAY2;
      border-radius: 10px;
    }

    span {
      margin-left: 10px;
      font-size: 16px;
      font-weight: 500;
      color: colors.$GRAY3;
    }

    &:hover {
      background-color: colors.$GRAY1;
      border-radius: 10px;
    }
  }

  .line {
    width: 200px;
    height: 1px;
    margin: 20px 0;
    background-color: colors.$GRAY3;
  }
}

@media screen and (max-width: 625px) {
  .menuContainer {
    margin-top: 60px;
  }

  .darkModeBtnContainer {
    display: none;
  }
}

@media screen and (min-width: 625px) {
  .sideBarContainer {
    position: relative;
    z-index: levels.$NAV_BAR;
    width: 250px;
    height: 100vh;
    background-color: colors.$BACKGROUND;

    .logo {
      margin: 40px 0 0 20px;
    }

    .menuContainer {
      padding-right: 30px;
      margin-top: 20px;
    }

    .darkModeBtnContainer {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
}
