@use '/src/styles/constants/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  .name {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 625px) {
  .header {
    height: 80px;
    background-color: colors.$BAR;

    .menuBtn {
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }

    .name {
      font-size: 20px;
    }

    .modeBtn {
      margin-top: 5px;

      .brightBtn {
        width: 27px;
        height: 27px;
        margin-right: 15px;
      }

      .darkBtn {
        width: 25px;
        height: 25px;
        margin-right: 17px;
      }
    }
  }
}

@media screen and (min-width: 625px) {
  .header {
    height: 80px;
    margin: 20px 0;

    .menuBtnWrapper {
      display: none;
    }

    .name {
      z-index: 9999;
      margin-left: 20px;
      font-size: 25px;
    }

    .brightBtn {
      width: 38px;
      height: 38px;
      margin-right: 20px;
    }

    .darkBtn {
      width: 36px;
      height: 36px;
      margin-right: 20px;
    }
  }

  .menuBarContainer {
    display: none;
  }
}
