// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;
$WHITE: #ffffff;
$BLACK: #1c1c1e;

$BAR: #eae6d7;
$BLACK1: #020100;
$WHITE1: #f2f2f7;
$GRAY1: #f0f0f0;
$GRAY2: #f1f1f1;
$GRAY3: #808291;
$GRAY4: #615e5b;
$GREEN1: #1c3f3a;
$ORANGE1: #fe7551;
$BACKGROUND: #faf7f3;
$BACKGROUND_MOBILE: #f1ebe5;
