@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 625px) {
  .container {
    position: relative;
    align-items: center;

    .menuContainer {
      display: none;
    }
  }
}
