@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.diaryFormWrapper {
  @include flexbox.columnFlexbox(center, center);
  width: 100vw;

  label { font-size: 15px; }

  .searchBtnWrapper {
    margin-bottom: 20px;

    .searchBookBtn {
      @include flexbox.flexbox(start, center);
      width: 100%;
      padding: 10px;
      font-size: 15px;
      border-radius: 10px;

      svg {
        width: 17px;
        height: 17px;
        margin-right: 5px;
      }

      span { font-size: 15px; }
    }
  }

  .selectedWrapper {
    margin: 20px 0;

    p {
      font-size: 15px;
      color: colors.$BLACK;
    }

    .box {
      @include flexbox.flexbox(start, center);
      margin-top: 10px;

      .labelBtn {
        width: 30px;
        height: 30px;
        border-radius: 50%;

        & + .labelBtn {
          margin-left: 10px;
        }
      }
    }
  }

  .addBtn {
    width: 100%;
    height: 55px;
    font-size: 15px;
    color: colors.$WHITE;
    background-color: colors.$GREEN1;
    transition: 0.1s;

    &:hover {
      background-color: colors.$GREEN2;
    }
  }
}

@media screen and (max-width: 625px) {
  .topBar {
    @include flexbox.flexbox(end, start);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 45px;
    background-color: colors.$WHITE;
  }

  .formWrapper {
    width: 100vw;
    height: 710px;
    padding: 50px 40px 40px;

    label {
      color: colors.$BLACK;
    }

    .searchBtnWrapper {
      .searchBookBtn {
        color: colors.$BLACK;
        border: 1px solid colors.$GRAY7;

        &:hover,
        &:focus {
          border: 3px solid colors.$GREEN4;
        }
      }

      svg { color: colors.$BLACK; }
      span { color: colors.$BLACK; }
    }

    .selectedWrapper {
      p { color: colors.$BLACK; }
      .labelBtn { border: 0.5px solid colors.$GRAY7; }
      .selected { border: 2px solid colors.$GREEN1; }
    }
  }
}

@media screen and (min-width: 625px) {
  .topBar { display: none; }

  .webLogo {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .formWrapper {
    width: 50vw;
    height: 700px;
    margin: 80px auto 0;

    label { color: colors.$BACKGROUND_MOBILE3; }

    .searchBtnWrapper {
      .searchBookBtn {
        height: 50px;
        color: colors.$BACKGROUND_MOBILE3;
        background-color: colors.$WHITE;
        border: 1px solid colors.$BACKGROUND_MOBILE2;

        &:hover,
        &:focus {
          border: 3px solid colors.$BACKGROUND_MOBILE2;
        }

        svg { color: colors.$BACKGROUND_MOBILE3; }
        span { color: colors.$BACKGROUND_MOBILE3; }
      }
    }

    .selectedWrapper {
      p { color: colors.$BACKGROUND_MOBILE3; }
      .labelBtn { border: 0.5px solid colors.$BACKGROUND_MOBILE2; }
      .selected { border: 2px solid colors.$GREEN1; }
    }
  }
}
