@use '/src/styles/constants/colors';

@media screen and (max-width: 625px) {
  .modeBtn {
    margin-top: 5px;

    .brightBtn {
      width: 27px;
      height: 27px;
      margin-right: 15px;
    }

    .darkBtn {
      width: 25px;
      height: 25px;
      margin-right: 17px;
    }
  }
}

@media screen and (min-width: 625px) {
  .modeBtn {
    margin-top: 5px;

    .brightBtn {
      width: 35px;
      height: 35px;
    }

    .darkBtn {
      width: 33px;
      height: 33px;
    }
  }
}
