@use '/src/styles/constants/colors';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 625px) {
  .sideBarContainer {
    display: none;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 50px;
    margin-top: 15px;
    background-color: colors.$GRAY1;
    border-radius: 30px;

    input {
      width: 60vw;
      height: 30px;
      margin: 0 5vw;
    }

    button {
      width: 15vw;
      height: 30px;
      color: colors.$WHITE;
      background-color: colors.$GREEN1;
      border-radius: 30px;
    }
  }
}

@media screen and (min-width: 625px) {
  .sideBarContainer {
    position: absolute;
    left: 0;
    width: 15vw;
    min-width: 250px;
    height: 100vh;
    background-color: colors.$WHITE;
  }

  .box {
    position: absolute;
    right: 0;
    z-index: -9999;
    width: 75vw;
    min-width: 500px;
    height: 400px;
    background-color: colors.$BAR;
    border-bottom-left-radius: 60px;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 50px;
    margin-top: 15px;
    background-color: colors.$WHITE;
    border-radius: 20px;

    input {
      width: 35vw;
      height: 30px;
      margin: 0 3vw;
    }

    button {
      width: 70px;
      height: 30px;
      margin-right: 1vw;
      color: colors.$WHITE;
      background-color: colors.$GREEN1;
      border-radius: 20px;
    }
  }
}
