@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.noDataWrapper {
  @include flexbox.columnFlexbox(center, center);

  .iconBackground {
    @include flexbox.flexbox(center, center);
    width: 90px;
    height: 90px;
    background-color: colors.$GRAY2;
    border-radius: 50%;

    svg {
      width: 50px;
      height: 50px;
      color: colors.$GRAY5;
    }
  }

  p {
    margin-top: 20px;
    font-size: 15px;
    color: colors.$BLACK;
  }
}

@media screen and (max-width: 625px) {
  .noDataWrapper {
    width: 100vw;
    height: 85vh;

    .writeDiaryBtn {
      display: none;
    }
  }
}

@media screen and (min-width: 625px) {
  .noDataWrapper {
    flex-grow: 1;
    height: 100vh;

    .writeDiaryBtn {
      width: 160px;
      height: 45px;
      margin-top: 10px;
      font-weight: 400;
      color: colors.$WHITE;
      background-color: colors.$GREEN1;
      border-radius: 20px;
      transition: 0.1s;

      &:hover {
        background-color: colors.$GREEN2;
      }
    }
  }
}
