@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.noDataWrapper {
  @include flexbox.columnFlexbox(center, center);

  .iconBackground {
    @include flexbox.flexbox(center, center);
    width: 90px;
    height: 90px;
    background-color: colors.$GRAY2;
    border-radius: 50%;

    svg {
      width: 50px;
      height: 50px;
      color: colors.$GRAY5;
    }
  }

  p {
    margin-top: 20px;
    font-size: 15px;
    color: colors.$BLACK;
  }
}

@media screen and (max-width: 625px) {
  .noDataWrapper {
    width: 100vw;
    height: 85vh;

    .openFormBtn {
      @include flexbox.flexbox(center, center);
      position: fixed;
      right: 20px;
      bottom: 20px;
      width: 60px;
      height: 60px;
      background-color: colors.$BACKGROUND_MOBILE;
      border-radius: 50%;
      box-shadow: 0 10px 20px 0 rgba(colors.$BLACK, 15%);

      svg {
        width: 30px;
        height: 30px;
        color: colors.$BACKGROUND_MOBILE2;
      }
    }
  }
}

@media screen and (min-width: 625px) {
  .noDataWrapper {
    flex-grow: 1;
    height: 100vh;

    .openFormBtn {
      display: none;
    }
  }
}
